@import "tailwindcss";
@config "../../tailwind.config.js";

@layer base {
  html {
    scroll-behavior: smooth;
  }
  html, body {
    margin: 0;
    padding: 0;
  }
  body {
    overscroll-behavior: none;
  }
  main > :first-child {
    margin-top: 0 !important;
  }
  main > :last-child {
    margin-bottom: 0 !important;
  }
}

::-webkit-scrollbar {
  display: none;
}

@layer components {
  .nav-link.active {
    @apply text-primary font-semibold relative;
  }
  .nav-link.active::after {
    @apply content-[''] absolute -bottom-2 left-0 w-full h-0.5 bg-primary;
  }
}
